@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*

flex-direction
flex-wrap
align-items
justify-content
order
align-self

*/

:root {
	--default: #1011EB;
	--light: #5858EE;
	--light10A: #5858EE10;
	--light30A: #5858EE30;
	--light50A: #5858EE50;
	--light70A: #5858EE70;
	--font-one: #07076B;
	--grayblue: #28286B;
	--darkdefault: #0D0DB8;
	--background: #EAEAEAFF;
}

* {
	font-family: 'Quicksand', Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--light10A);
}

header {
	background-color: #202020;
	padding: 20px;
	color: var(--background);
}

header h1 {
	font: 400 2em 'Poppins', Arial, sans-serif;
}

main {	
	background-color: white;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	max-width: 550px;
	font-weight: 300;
	color: var(--default);
	margin-top: 20px;
	border: #00000040 solid 1px;
	box-shadow: 2px 2px 2px #00000020;
	margin: auto;
	margin-top: 20px;
}

main > div {
	text-align: left;
	padding: 10px;
}

h1#title {
	font-weight: 300;
	padding: 0px;
	margin: 20px 0px 0px 0px;
}

p#subtitle {
	padding: 0px;
	margin: 0px;
}

form {
	margin: 5px;
}

fieldset {
	padding: 0px;
	margin: 5px 0px 0px 0px;
	border: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

input{
	padding: 15px;
	border: none;
	margin: 10px;
	border-radius: 10px;
	width: 200px;
	color: var(--darkdefault);
}

input.lighter {
	background-color: var(--light10A);
}

input.light {
	background-color: var(--light30A);
}

input.normal {
	background-color: var(--light50A);
	width: 83.5%;
}

input::placeholder {
	color: var(--darkdefault);
}

div select.dark {
	background-color: var(--light70A);
	border: none;
	border-radius: 10px;
	width: 50%;
	padding: 15px;
	color: var(--darkdefault);
	margin: 10px 0px;
	text-align: left;
}

option {
	border-radius: 5px;
	background-color: white;
}

div#buttonDiv {
	background-color: var(--background);
    border-radius: 0px 0px 20px 20px;
    margin: 30px -25px -25px -25px;
    border: #00000020 solid 1px;
}

input[type=submit] {
	border: none;
	background-color: var(--default);
	color: white;
	padding: 15px 20px;
	border-radius: 20px;
	margin: 15px;
	width: 150px;
}

input[type=submit]:hover {
	cursor: pointer;
	background-color: var(--light);
	box-shadow: inset 2px 2px 2px #00000050;
}

footer {
	margin-top: 20px;
	padding: 20px;
	background-color: var(--light30A);
	display: flex;
	justify-content: space-around;
	font-family: 'Poppins', Arial, sans-serif;
	color: var(--grayblue);
}

footer ul {
	list-style: none;
	text-indent: 20px;
}

footer li::before {
	content: '🔗';
}

.created {
	text-indent: 20px;
}

p#msgtrue {
	color: green;
	font-family: 'Poppins', Arial, sans-serif;
}

p#msgfalse {
	color: red;
	font-family: 'Poppins', Arial, sans-serif;
}